- if controller_name != 'sessions'
  = link_to t('users.sessions.new.sign_in'), new_session_path(resource_name)
  %br/
- if devise_mapping.recoverable? && controller_name != 'passwords'
  = link_to t('users.passwords.new.forgot_your_password'), new_password_path(resource_name)
